 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head lang="en" th:replace="fragments/head :: head"> </head>
</head>

  <body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<a href="/logistics/" class="btn btn-success" role="button">go back to cockpit</a>
	<div class="container">
    <div>    

      <form action="#" th:action="@{/orders/add}" th:object="${order}" method="post">
    
        <fieldset>
          <div class="panel panel-success">
		  <div class="panel-heading"><h1> add new order</h1></div>
		  <div class="panel-body">
                 
          
		  <table class="table table-hover">
    		<tr>
    			<td> customer: </td>
    			<td>
    			<div class="col-sm-5">
    				<select class="form-control" th:field="*{customer}">
           	           <option th:each="var : ${allCustomers}" th:value="${var.id}" th:text="${var.getName()}+' ('+${var.getAddress().getCity()}+')'"></option>
                	</select>
                </div>
                </td>
    		</tr>
    		<tr>
    			<td> delivery date: </td>
    			<td>
    				<div class="col-sm-5">
    					<input type="date" class="form-control" th:field="*{deliveryDate}" /> 
    				</div>
    			</td>
    		</tr>
    		
    		
    	</table>
         
<!--         <h2>ordered products</h2>   -->
            
         <div class="panel panel-default">
		 <div class="panel-body">
          
           <div>
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>row</th>
                  <th>amount</th>
                  <th>product</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr th:each="row,rowStat : *{orderItems}">
                  <td th:text="${rowStat.count}"></td>
                  <td>
                    <input type="number" min="0" th:field="*{orderItems[__${rowStat.index}__].amount}" th:errorclass="fieldError" />
                  </td>
                  
                  <td>   
                    <select th:field="*{orderItems[__${rowStat.index}__].item}">
                      <option th:each="var : ${allItems}" th:value="${var.id}" th:text="${var.name}">Test</option>
                    </select>
                  </td>
                  
                  <td>
                    <button type="submit" class="btn btn-classic" name="removeRow" th:value="${rowStat.index}">
                    <span class="glyphicon glyphicon-minus"></span> remove product</button>
                  </td>
                </tr>
              </tbody>
            </table>
              <button type="submit" class="btn btn-basic" name="addRow"><span class="glyphicon glyphicon-plus"></span> add product</button>
          </div>
          </div>
          </div>
          
       
			
          <div class="submit">
            <button type="submit" class="btn btn-success" name="save">submit order</button>    
          </div>
          </div>
        </div>
        </fieldset>
          
      </form>
    </div>
    </div>

  </body>
</html>