 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head lang="en" th:replace="fragments/head :: head"> </head>
</head>

  <body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
    <div>    
      <h1>add new order</h1>

      <form action="#" th:action="@{/orders/add}" th:object="${order}" method="post">
    
        <fieldset>
          
          <legend>order data</legend>          
          <div>
            <label for="delivery date">
              <span>delivery date</span>
              (<span>YYYY/MM/DD</span>)
            </label>
            <input type="text" th:field="*{deliveryDate}" />
          </div> 
          
          <div>
            <label for="customer">customer</label>
                    <select th:field="*{customer}">
                      <option th:each="var : ${allCustomers}" th:value="${var.id}" th:text="${var.getName()}"></option>
                    </select>
          </div>
          
           <div>
            <label>rows</label>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>row</th>
                  <th>item</th>
                  <th>amount</th>
                  <th>
                    <button type="submit" class="btn btn-primary" name="addRow">Add row</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="row,rowStat : *{orderItems}">
                  <td th:text="${rowStat.count}"></td>
                  <td>
                    <select th:field="*{orderItems[__${rowStat.index}__].item}">
                      <option th:each="var : ${allItems}" th:value="${var.id}" th:text="${var.name}">Test</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" th:field="*{orderItems[__${rowStat.index}__].amount}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <button type="submit" class="btn btn-primary" name="removeRow" th:value="${rowStat.index}">Remove row</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    
          <div class="submit">
            <button type="submit" class="btn btn-primary" name="save">Add Order</button>    
          </div>
        
        </fieldset>
          
      </form>
    </div>
    </div>

  </body>
</html>