<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<script type="text/javascript">
$(document).ready(function(){
	$("#datatable").DataTable();
});
</script>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		<h1> orders </h1>
		<div th:if="${#lists.isEmpty(orders)}">
		<p>no orders found</p>
		</div>
		<a href="/orders/add" class="btn btn-primary" role="button">create new order</a>
		<div th:if="${not #lists.isEmpty(orders)}">
		    <h2>all orders</h2>
		    <table id="datatable" class="table table-hover order-column">
		    	<thead>
			    	<tr>
			    		<th>id</th>
			    		<th>client name</th>
			    		<th>delivery address</th>
			    		<th>order status</th>
			    		<th>number of ordered articles</th>
			    		<th>delivery date</th>
			    		<th></th>
			    		<th></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr th:each="order : ${orders}">
			    		<td th:text="${order.getId()}"></td>
			    		<td th:text="${order.getCustomer()}"></td>
			    		<td th:text="${order.getAddress()}"></td>
			    		<td th:text="${order.getStatus()}"></td>
			    		<td th:text="${order.getOrderItems().size()}"></td>
			    		<td th:text="${order.getDeliveryDateStr()}"></td>
			    		<td><a th:href="@{{id}(id = ${order.getId()})}">details</a></td>
			    		<td><a th:if="${order.isOpen()}" th:href="@{/schedule/{id}(id = ${order.getId()})}"
			    		class="btn btn-success">add to route</a></td>
					</tr>
				</tbody>
		    </table>
		</div>
		</div>
	</body>
</html>