<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<a href="/logistics/" class="btn btn-success" role="button">go back to cockpit</a>
	<div class="container">
	<h1>order for <a th:href="@{/customer/{Id}(Id = ${order.getCustomer().getId()})}" th:text= "${order.customer}"></a></h1>
		<form class="form-horizontal">
		<div class="panel panel-default">
		<div class="panel-body">
		
		<div class="form-group">
		 	<label class="col-sm-2" for="id">delivery address:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${order.getAddress()}"/>
		 	</div>
	    </div> 
	    
	    <div class="form-group">
		 	<label class="col-sm-2" for="id">delivery date:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${order.getDeliveryDateStr()}"/>
		 	</div>
	    </div> 
	    
	    <div class="form-group">
		 	<label class="col-sm-2" for="id">order status:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${order.getStatus()}"/>
		 	</div>
	    </div> 
     	<div>
<!--             <label>Rows</label> -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>item</th>
                  <th>amount</th>    
                  <th>status</th>
                  <th>route</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="oi : ${order.getOrderItems()}">
		    		<td th:text="${oi.getItem()}"></td>
		    		<td th:text="${oi.getAmount()}"></td>
		    		<td th:text="${oi.getOrderItemStatus()}"></td>
		    		<td><a th:if="${oi.hasRoute()}" th:href="@{/route/{id}(id = ${oi.getRoute().getId()})}"><span th:text = "${oi.getRoute().toString()}"></span></a></td>
			    	
				</tr>
              </tbody>
            </table>
          </div>
          </div>
          </div>
<!--     	<a href ="/orders/" class="btn btn-primary" role="button">go to overview</a> -->
    		<a th:href="@{/schedule/{id}(id = ${order.getId()})}" class="btn btn-primary" role="button">schedule order</a>
    </form>
    </div>
</body>
</html>

