<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<h1 th:text= "'Order for ' +${order.customer}"></h1>
    <p th:text="'Delivery Address:  ' + ${order.getAddress()}" />
     <p th:text="'Delivery Date:  ' + ${order.getDeliveryDate()}" />
     <div>
            <label>Rows</label>
            <table>
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="oi : ${order.getOrderItems()}">
		    		<td th:text="${oi.getItem()}"></td>
		    		<td th:text="${oi.getAmount()}"></td>
				</tr>
              </tbody>
            </table>
          </div><br/><br/>
          
    <a th:href="@{/orders/}" class="button">go back to the overview</a>
</body>
</html>

