<!DOCTYPE html>
<html>
	<head>
		<title>Create an Item</title>
		<link rel="stylesheet" href="main.css" type="text/css" th:href="@{../../main.css}"/>
	</head>
	
	<body>
	<a href="/" class="button" >HOME</a> <br/> <br/>
	<h1>Add a new Item to the Library</h1>
    <form action="#" th:action="@{/item/add}" th:object="${item}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        
        <p><input type="submit" value="Submit" class="button" /> <input type="reset" value="Reset" class="button"/></p>
    </form>

		
	</body>
</html>