<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "${item.name}"></h1>
    <form action="#" th:action="@{/item/{id}/edit(id = ${item.id})}" th:object="${item}" th:method="post">
    <div class="panel panel-default">
	<div class="panel-body">
      	<p th:text="'article id: ' + *{id}" />
      	<p th:text="'article name: ' + *{name}" />
        <p>new article name<input type="text" th:field="*{name}" /></p> 

        <p>status
        	<select th:field="*{status}">
        		<option th:each="var : ${statusArray}"
        				th:value="${var}" th:text="${var.getTitle()}"></option>
            </select></p>
     </div>
     </div>
     <br/>
     <input type="submit" class="btn btn-primary" value="submit"/>
     <input type="reset" class="btn btn-primary" value="reset"/>
     <a href ="/item/" class="btn btn-primary" role="button">go back to overview</a>
    </form>


<!--     <form action="#" th:action="@{/item/{id}/edit(id = ${item.id})}" th:object="${item}" th:method="delete"> -->
<!--        	<input type="submit" class="btn btn-danger" value="delete truck?" /> -->
<!--     </form> -->
    </div>
</body>
</html>