<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<script type="text/javascript">
$(document).ready(function(){
$("#datatable").DataTable();
});
</script>
	<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	
	<div th:if="${#lists.isEmpty(items)}">
	<p> no articles found </p>
	</div>
	
	<div th:if="${not #lists.isEmpty(items)}">
	<h1> all articles </h1>
	<table id="datatable" class="display table table-hover">
		<thead>
		    	<tr>
		    		<th>id</th>
		    		<th>name</th>
		    		<th>space (palette)</th>
		    		<th>status</th>
		    	</tr>
		</thead>
		<tbody>
		    	<tr th:each="item : ${items}" th:classappend="${item.status.getValue() == 1} ? danger">
		    		<td th:text="${item.getId()}"></td>
		    		<td th:text="${item.getName()}"></td>
		    		<td th:text="${item.getRequiredSpace()}"></td>
		    		<td th:text="${item.status.getTitle()}"></td>
		    		<td><a th:href="@{{id}(id = ${item.id})}">profile</a></td>
				</tr>
		</tbody>
    </table>
	</div>
	<a href ="/item/add" class="btn btn-primary" role="button">create new article</a>
	</div>		
	</body>
</html>