<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Show all Items</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
		table, th, td {
    					border: 1px solid black;
    					border-collapse: collapse;
						}
		th, td {
    					padding: 5px;
				}
		th {
    					text-align: left;
			}
		</style>
	</head>
	
	<body>
	<div th:if="${not #lists.isEmpty(items)}">
	<h1> Here are all the Items from the Library </h1>
	
	<table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Name</th>
		    		<th>Needed Space in palettes</th>
		    	</tr>
		    	<tr th:each="item : ${items}">
		    		<td th:text="${item.getId()}"></td>
		    		<td th:text="${item.getName()}"></td>
		    		<td th:text="${item.getRequiredAmountOfPalettes()}"></td>
				</tr>
				
		    </table>
	</div>
	
	<a th:href="@{/item/add}">Add a new item</a>

		
	</body>
</html>