<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "'article: ' +${item.name}"></h1>
	<form class="form-horizontal">
	<div class="panel panel-default">
	<div class="panel-body">
	
	<div class="form-group">
		<label class="control-label col-sm-2" for="id">article id:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${item.id}"/>
		</div>
	 </div>
	 
	 <div class="form-group">
	 	<label class="control-label col-sm-2" for="id">space in stillages:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${item.requiredSpace}"/>
	 	</div>
	 </div>
	 
	 <div class="form-group">
	 	<label class="control-label col-sm-2" for="id">weight in tons:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${item.weight}"/>
	 	</div>
	 </div>
	 	 	 
	 <div class="form-group">
	 	<label class="control-label col-sm-2" for="id">status:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${item.status}"/>
	 	</div>
	 </div>

    </div>
    </div>
    <a th:href="@{/item/{id}/edit(id = ${item.id})}" class="btn btn-primary">edit this article</a>
    <a href ="/item/" class="btn btn-primary" role="button">go back to overview</a>
    </form>
    </div>
</body>
</html>