<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "'article: ' +${item.name}"></h1>
	<div class="panel panel-default">
	<div class="panel-body">
	    <p th:text="'article id: ' + ${item.id}" />
<!-- 	    <p th:text="'space (palettes): ' + ${item.requiredAmountOfPalettes} + ' stillages'" /> -->
	    <p th:text="'weight: ' + ${item.weight} + ' tons'" />
	    <p th:text="'availability: ' + ${item.getStatus().getTitle()}" />
    </div>
    </div>
    <a href ="/item/" class="btn btn-primary" role="button">go back to overview</a>
    <a th:href="@{/item/{id}/edit(id = ${item.id})}" class="btn btn-primary">edit this article</a>
    </div>
</body>
</html>