<!DOCTYPE html>
<html>
	<head>
		<title>Hello,World!</title>
	</head>
	
	<body>
	<div th:if="${not #lists.isEmpty(drivers)}">
	<h1> Here are all the Drivers of the Firm </h1>
	
	<h1>Select Your Profile</h1>
		    <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Username</th>
		    		<th>Real Name</th>
		    		<th>Userrole</th>
		    		<th></th>
		    	</tr>
		    	<tr th:each="user : ${drivers}">
		    		<td th:text="${user.getId()}"></td>
		    		<td th:text="${user.getUsername()}"></td>
		    		<td th:text="${user.getRealName()}"></td>
		    		<td th:text="${user.getUserrole()}"></td>
		    		<td><a th:href="@{{id}(id = ${user.id})}">Profile</a></td>
				</tr>
		    </table>
	</div>
	
	<a th:href="@{/hello}">Home</a>

		
	</body>
</html>