<!DOCTYPE html>
<html>
	<head>
		<title>Hello,World!</title>
		<link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>
	</head>
	
	<body>
	<div th:if="${not #lists.isEmpty(drivers)}">
	<a href="/hello" class="button" >HOME</a> <br/><br/>
	<h1> here are all the drivers of the firm </h1>
	
	<h2>select your profile</h2>
		    <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Username</th>
		    		<th>Real Name</th>
		    		<th>Userrole</th>
		    		<th></th>
		    	</tr>
		    	<tr th:each="user : ${drivers}">
		    		<td th:text="${user.getId()}"></td>
		    		<td th:text="${user.getUsername()}"></td>
		    		<td th:text="${user.getRealName()}"></td>
		    		<td th:text="${user.getUserrole()}"></td>
		    		<td><a th:href="@{{id}(id = ${user.id})}">Profile</a></td>
				</tr>
		    </table>
	</div>

		
	</body>
</html>