<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DriverProfile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>
</head>
<body>
	<a href="/hello" class="button" >HOME</a> <br/><br/>
	<h1 th:text= "'hi ' +${driver.username}"></h1>
    <p th:text="'your id: ' + ${driver.id}" />
    <p th:text="'your RealName is: ' + ${driver.realName}" />
    
    <div th:if="${not #lists.isEmpty(routes)}">
	<h1> here are all your routes</h1>
		   <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Route Date</th>
		    		<th>Vehicle name</th>
		    		<th>Driver name</th>
		    		<th>Number of Deliveries</th>
		    		<th></th>
		    	</tr>
		    	<tr th:each="route : ${routes}">
		    		<td th:text="${route.getId()}"></td>
		    		<td th:text="${route.getRouteDate()}"></td>
		    		<td th:text="${route.getTruckName()}"></td>
		    		<td th:text="${route.getDriverName()}"></td>
		    		<td th:text="${route.getDeliveryId()}"></td>
		    		<td><a th:href="@{/route/{id}(id = ${route.id})}">Show Route</a></td>
				</tr>
		    </table>
	</div>
	<div th:if="${#lists.isEmpty(routes)}">
	<h1> you don't have any routes at the time. enjoy your free day! </h1>
	</div><br/><br/>
    <a th:href="@{/driverview/}" class="button">back to drivers!</a>
</body>
</html>