<!DOCTYPE html>
<html>
	<head>
		<title>Delivery</title>
		<link rel="stylesheet" href="design.css" type="text/css" th:href="@{design.css}"/>
		<style>
		table {
		    border-collapse: collapse;
		    width: 50%;
		}
		
		th, td {
		    text-align: left;
		    padding: 8px;
		}
		
		tr:nth-child(even){background-color: #f2f2f2}
	</style>
	</head>
	
	<body>
		<h1>New Delivery</h1>
		
		<form action="#" th:action="@{/delivery/add}" th:object="${delivery}" method="post">
		<fieldset>
		
			<div>
            <label for="order">Orders</label>
                    <select th:field="*{order}">
                      <option th:each="var : ${allOrders}" th:value="${var.id}" th:text="${var.getCustomer().getName()}"></option>
                    </select>
          </div>
          
          <div class="submit">
            <button type="submit" name="select">Select Customer from Orders</button>    
          </div>
          
          </fieldset>
          </form>
          
          
		<a href="/hello" class="button" >home</a> <br/> <br/>
		

	</body>
</html>