<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Route</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text= "${route.getRouteDate()}"></h1>
    <form action="#" th:action="@{/route/add}" th:object="${route}" method="post">
        <select class= "form-control" name="Select Truck" th:field= Truck>
        	<option value="0">Choose Trucks</option>
			<option th:each="truck : ${trucks}"
			th:text="${truck.getVehicleNameName()}">
    		</option>   
        </select> 
</body>
</html>
    
</body>
</html>
