<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserProfile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text=" 'Route id: ' + ${route.getId()}"></p>
	<p th:text=" 'Route Date: ' +${route.getRouteDate()}"></p>
	<p th:text=" 'Vehicle Name: ' +${route.getVehicleName()}"></p>
	<p th:text=" 'DriverId: ' + ${route.getDriverId()}"></p>
	<p th:text=" 'DeliveryId: ' + ${route.getDeliveryId()}"></p>
    <a th:href="@{/route/}">Show all Routes</a>
    <a th:href="@{/driverview/{id}(id = ${route.driverId})}">Driver-Profile of this Route</a>
    <a th:href="@{/truck/{id}/edit(id = ${route.vehicleId})}">Edit this truck</a>
</body>
</html>

