<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<script type="text/javascript">
$(document).ready(function(){
$("#datatable").DataTable();
});
</script>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		<div th:if="${#lists.isEmpty(address)}">
		<p> no address found </p>
		</div>
		<div th:if="${not #lists.isEmpty(address)}">
		    <h1>all addresses</h1>
		    <table id="datatable" class="display table table-hover">
		    	<thead>
			    	<tr>
			    		<th>id</th>
			    		<th>street</th>
			    		<th>city</th>
			    		<th>country</th>
			    		<th>status</th>
			    		
			    	</tr>
		    	</thead>
		    	<tbody>
			    	<tr th:each="ad : ${address}" th:classappend="${ad.status.getValue() == 1} ? danger">
			    		<td th:text="${ad.getId()}"></td>
			    		<td th:text="${ad.getStreet()}"></td>
			    		<td th:text="${ad.getCity()}"></td>
			    		<td th:text="${ad.getCountry()}"></td>
			    		<td th:text="${ad.status.getTitle()}"></td>
			    		<td><a th:href="@{{id}(id = ${ad.id})}">profile</a></td>
	
					</tr>
				</tbody>
		    </table>
		</div>
		<a href ="/address/add" class="btn btn-primary" role="button">create new address</a>
		<a href="/customer/add" class="btn btn-primary" role="button">create new customer</a>
		</div>
	</body>
</html>