<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Address</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>
	</head>
	<body>
		<div th:if="${not #lists.isEmpty(address)}">
			<a href="/hello" class="button" >HOME</a> <br/><br/>
		    <h1>all addresses</h1>
		    <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Street</th>
		    		<th>City</th>
		    		
		    	</tr>
		    	<tr th:each="ad : ${address}">
		    		<td th:text="${ad.getId()}"></td>
		    		<td th:text="${ad.getStreet()}"></td>
		    		<td th:text="${ad.getCity()}"></td>

				</tr>
		    </table>
		</div><br/><br/>
		<a href="/address/add" class="button" >create a new address</a>
	</body>
</html>