<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Address</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="main.css" type="text/css" th:href="@{../main.css}"/>
</head>
<body>
	<a href="/hello" class="button" >HOME</a> <br/><br/>
	<h1>new address</h1>
    <form action="#" th:action="@{/address/add}" th:object="${address}" method="post">
        <p>Street and Number: <input type="text" th:field="*{street}" /></p>
        <p>Post Code and City: <input type="text" th:field="*{city}" /></p>
        <p>Country: <input type="text" th:field="*{country}" /></p>
        <p><input type="submit" value="Submit" class="button" /> <input type="reset" value="Reset" class="button"/></p>
    </form>
</body>
</html>