<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1>new address</h1>
    <form action="#" th:action="@{/address/add}" th:object="${address}" method="post">
        <p>Street and Number: <input type="text" th:field="*{street}" /></p>
        <p>Post Code and City: <input type="text" th:field="*{city}" /></p>
        <p>Country: <input type="text" th:field="*{country}" /></p>
        <p><input type="submit" value="Submit" class="button" /> <input type="reset" value="Reset" class="button"/></p>
    </form>
    </div>
</body>
</html>