<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "'address ' + ${address.id}"></h1>
    <form action="#" th:action="@{/address/{id}/edit(id = ${address.id})}" th:object="${address}" th:method="post" class="form-horizontal">
    <div class="panel panel-default">
	<div class="panel-body">
	
	<div class="form-group">
		<label class="col-sm-2" for="id">address id:</label>
		<div class="col-sm-5">
			<p th:text="*{id}"/>
		</div>
	</div>
	
		<div class="form-group">
		 <label class="col-sm-2" for="street">street name:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${address.street}"/>
		 	</div>
		 </div>
		 		
		<div class="form-group">
		 <label class="col-sm-2" for="city">city:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${address.city}"/>
		 	</div>
		</div>
		 		 		
		<div class="form-group">
		 <label class="col-sm-2" for="country">country:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${address.country}"/>
			</div>
		</div>
		 
		<div class="form-group">
		 	<label class="col-sm-2" for="name">status:</label>
		 	<div class="col-sm-5">	 		
		 		<select class="form-control" th:field="*{status}">
	        		<option th:each="var : ${statusArray}"
	        				th:value="${var}" th:text="${var.getTitle()}"></option>
	            </select>
		 	</div>
	 	</div>
     </div>
     </div>
     <br/>
     <input type="submit" class="btn btn-primary" value="submit"/><br/><br/>
     <input type="reset" class="btn btn-primary" value="reset"/>
     <a href ="/address/" class="btn btn-primary" role="button">go back to overview</a>
    </form>
    </div>
</body>
</html>