<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>

<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<div th:if="${message}">
    		<h2 th:text= " 'problem creating the addres: ' + ${message}"></h2>
   	</div>
	<a href ="/address/add" class="btn btn-primary" role="button">try again</a>
	<a href ="/address/" class="btn btn-primary" role="button">back to all addresses</a>
	</div>
</body>
</html>