<!DOCTYPE html>
<html>
	<head>
		<title>Create an OrderItem</title>
		<link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>
	</head>
	
	<body>
	<a href="/hello" class="button" >HOME</a> <br/><br/>
	<h1>create a new orderItem</h1>
    <form action="#" th:action="@{/orderitem/add}" th:object="${orderitems}" method="post">
        
        <p>ItemId: <input type="text" th:field="*{ItemId}"/></p>
        <p>OrderId: <input type="text" th:field="*{OrderId}" /></p>
        
        <p><input type="submit" value="submit" class="button"/> <input type="reset" value="reset" class="button"/></p>
    </form>

		
	</body>
</html>