<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	
		<h1>order &#38; delivery management</h1>
		<p> Welcome to our application! You may want to load sample data by pressing on the button below.</p>
		
		<p> After creating the sample data you can log in into the application using the following credentials:</p>
		<p> username: leefis </p>
		<p> password: password </p>
	
		
	
	<a th:href="@{/sampleData}" class="btn btn-primary">create sample data</a>
	<br/><br/>
	<div lang="en" th:replace="fragments/footer ::footer"> </div>
	</div>
	
	</body>
</html>