<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
	<body style = "background-color: white;">
		<div class="welcome">
			<div lang="en" th:replace="fragments/header :: header"> </div>
			<!-- <img src="https://images.pexels.com/photos/248159/pexels-photo-248159.jpeg" width="100%" height="100%" alt="odmPic"/>-->
			<h1 class="welcomeOdm"><a id="welcomeodm" class="navbar-brand" href="#">odm</a></h1>
			<div class="textbox">
				<h1 class="text texth1" th:text="'hi ' + ${user.Firstname}">Hi</h1>
				<p sec:authorize="hasAuthority('LOGISTICS')" class="text button"><a href="/route/" class="btn btn-primary" role="button">plan a route</a></p>
                <p sec:authorize="hasAuthority('LOGISTICS')" class="text button"><a href="/order/" class="btn btn-primary" role="button">write an order</a></p>
                <p sec:authorize="hasAuthority('LOGISTICS')" class="text button"><a href="/logistics/" class="btn btn-primary" role="button">see the cockpit</a> </p>
                <p sec:authorize="hasAuthority('DRIVER')" class="text button"><a href="/driverview/" class="btn btn-primary" role="button">see the drivers</a> </p>
        
			</div>
			
		</div>
	</body>
</html>