<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserProfile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>
</head>
<body>
	<a href="/hello" class="button" >HOME</a> <br/><br/>
	<h1 th:text= "'Order for ' +${order.customer}"></h1>
    <p th:text="'Delivery Address:  ' + ${order.getAddress()}" />
     <p th:text="'Delivery Date:  ' + ${order.getDeliveryDate()}" />
     <div>
            <label>Rows</label>
            <table>
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="oi : ${order.getOrderItems()}">
		    		<td th:text="${oi.getItem()}"></td>
		    		<td th:text="${oi.getAmount()}"></td>
				</tr>
              </tbody>
            </table>
          </div><br/><br/>
          
    <a th:href="@{/orders/}" class="button">Go Back to the index</a>
</body>
</html>

