<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1>new user</h1>
    <form action="#" th:action="@{/user/add}" th:object="${users}" method="post">
        <p>user name: <input type="text" th:field="*{username}" /></p>
        <p>real name: <input type="text" th:field="*{surname}" /></p>
        <p>password: <input type="text" th:field= "*{password}" /></p>
        <input type="submit" class="btn btn-primary" value="submit"/>
        <input type="reset" class="btn btn-primary" value="reset"/>
    </form>
    </div>
</body>
</html>
