<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "${user.username}"></h1>
    <form action="#" th:action="@{/user/{id}/edit(id = ${user.id})}" th:object="${user}" th:method="post">
      	<p th:text="'your id: ' + *{id}" />
      	<p th:text="'your name: ' + *{username}" />
        <p>first name:<input type="text" th:field= "*{firstname}"/></p>
        <p>surname:<input type="text" th:field= "*{surname}"/></p>
        <p>password: <input type="text" th:field= "*{password}" /></p>
        <div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">role
			<span class="caret"></span></button>
			
			<ul class="dropdown-menu">
			  <li><a href="#">LOGISTICS</a></li>
			  <li><a href="#">DRIVER</a></li>
			</ul>
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">employee condition
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
			  <li><a href="#">active</a></li>
			  <li><a href="#">inactive</a></li>
			</ul>
		</div>
		<br/>
        <input type="submit" class="btn btn-primary" value="submit"/>
        <input type="reset" class="btn btn-primary" value="reset"/>
    </form>
<!--     <form action="#" th:action="@{/user/{id}/edit(id = ${user.id})}" th:object="${user}" th:method="delete"> -->
<!--     	<br/> -->
<!--     	<input type="submit" class="btn btn-primary" value="delete user?"/> -->
<!--     </form> -->
    </div>
</body>
</html>
 