<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "${user.username}"></h1>
    <form action="#" th:action="@{/user/{id}/edit(id = ${user.id})}" th:object="${user}" th:method="post">
      	<p th:text="'your id: ' + *{id}" />
      	<p th:text="'your Name: ' + *{username}" />
        <p>Firstname:<input type="text" th:field= "*{firstname}"/></p>
        <p>Surname:<input type="text" th:field= "*{surname}"/></p>
        <p>Password: <input type="text" th:field= "*{password}" /></p>
        <input type="submit" class="btn btn-primary" value="submit"/>
        <input type="reset" class="btn btn-primary" value="reset"/>
    </form>
    <form action="#" th:action="@{/user/{id}/edit(id = ${user.id})}" th:object="${user}" th:method="delete">
    	<br/>
    	<input type="submit" class="btn btn-primary" value="delete user?"/>
    </form>
    </div>
</body>
</html>
 