<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text= "'Edit ' + ${user.username}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text= "${user.username}"></h1>
    <form action="#" th:action="@{/user/{id}/edit(id = ${user.id})}" th:object="${user}" th:method="post">
      	<p th:text="'Your id: ' + *{id}" />
      	<p th:text="'Your Name: ' + *{username}" />
        <p>Firstname:<input type="text" th:field= "*{firstname}"/></p>
        <p>Surname:<input type="text" th:field= "*{surname}"/></p>
        <p>Password: <input type="text" th:field= "*{password}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <form action="#" th:action="@{/user/{id}/edit(id = ${user.id})}" th:object="${user}" th:method="delete">
    	
    	<p><input type="submit" value="Delete user?" /></p>
    </form>
</body>
</html>
 