<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<script type="text/javascript">
$(document).ready(function(){
$("#datatable").DataTable();
});
</script>
	<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	
	<div th:if="${#lists.isEmpty(users)}">
	<p> no users found </p>
	</div>
	<div th:if="${not #lists.isEmpty(users)}">
		    <h1>all users</h1>
		    <table id="datatable" class="order-column  table table-hover">
		    	<thead>
			    	<tr>
			    		<th><b>id</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th><b>username</b> <i class="fa fa-fw fa-sort"></i></th>
			    	    <th><b>real name</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th><b>role</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th><b>status</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr th:each="user : ${users}" th:classappend="${user.status.getValue() == 1} ? danger">
			    		<td th:text="${user.getId()}"></td>
			    		<td th:text="${user.getUsername()}"></td>
			    		<td th:text="${user.getRealname()}"></td>
			    		<td th:each= "role: ${user.getRoles()}"><ul th:text="${role.getName()}"></ul></td>
			    		<td th:text="${user.status.getTitle()}"></td>
			    		<td><a th:href="@{{id}(id = ${user.id})}">profile</a></td>
					</tr>
				</tbody>
		    </table>
		</div>
		<a href ="/user/add" class="btn btn-primary" role="button">create new user</a>
		</div>
	</body>
</html>