<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "'hi ' +${user.firstname}+ ' ' +${user.surname}"></h1>
	<form class="form-horizontal">
	<div class="panel panel-default">
	<div class="panel-body">
	
	<div class="form-group">
	 	<label class="control-label col-sm-2" for="id">your id:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${user.id}"/>
	 	</div>
	 </div>
	 	
	<div class="form-group">
	 	<label class="control-label col-sm-2" for="id">your role:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${user.getRoles().toString()}"/>
	 	</div>
	 </div>
	 
	 <div class="form-group">
	 	<label class="control-label col-sm-2" for="id">status:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${user.status}"/>
	 	</div>
	 </div>

	</div>
	</div>

    <a th:href="@{/user/{id}/edit(id = ${user.id})}" class="btn btn-primary">edit this user</a>
    <a href ="/user/" class="btn btn-primary" role="button">go back to overview</a>
    </form>
    
    
    <h3>users routes</h3>
    <div th:if="${not #lists.isEmpty(user.getRoutes())}">
    <div class="panel panel-default">
	<div class="panel-body">
	    <table class="table table-hover">
	    	<thead>
	    		<tr>
		    		<th>id</th>
		    		<th>routing date</th>
		    		<th>number of deliveries</th>
		    		<th></th>
		    		<th></th>
		    		<th></th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<tr th:each="route : ${user.getRoutes()}">
		    		<td th:text="${route.getId()}"></td>
		    		<td th:text="${route.getDate()}"></td>
		    		<td th:text="${route.countDeliveries()}"></td>
		    		<td></td>
		    		<td></td>
		    		<td><a th:href="@{/route/{id}(id = ${route.id})}">route</a></td>
				</tr>
			</tbody>
	    </table>
	</div>
	</div>
	</div>
    </div>
</body>
</html>

