<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "'hi ' +${user.username}"></h1>
	<div class="panel panel-default">
	<div class="panel-body">
	    <p th:text="'your id: ' + ${user.id}" />
	    <p th:text="'your name: ' + ${user.getRealname()}" />
	    <p th:text="'your role: ' + ${user.getRoles().toString()}" />
	   	<p th:text="'your status: ' + ${user.getStatus().getTitle()}" />
	</div>
	</div>

    <a th:href="@{/user/{id}/edit(id = ${user.id})}" class="btn btn-primary">edit this user</a>
    <a href ="/user/" class="btn btn-primary" role="button">go back to overview</a>
    <h3>users routes</h3>
    <div th:if="${not #lists.isEmpty(user.getRoutes())}">
    <div class="panel panel-default">
	<div class="panel-body">
	    <table class="table table-hover">
	    	<thead>
	    		<tr>
		    		<th>id</th>
		    		<th>routing date</th>
		    		<th>number of deliveries</th>
		    		<th></th>
		    		<th></th>
		    		<th></th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<tr th:each="route : ${user.getRoutes()}">
		    		<td th:text="${route.getId()}"></td>
		    		<td th:text="${route.getDate()}"></td>
		    		<td th:text="${route.countDeliveries()}"></td>
		    		<td></td>
		    		<td></td>
		    		<td><a th:href="@{/route/{id}(id = ${route.id})}">route</a></td>
				</tr>
			</tbody>
	    </table>
	</div>
	</div>
	</div>
    </div>
</body>
</html>

