<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="main.css" type="text/css" th:href="@{../main.css}"/>
</head>
<body>
	<a href="/" class="button" >HOME</a> <br/> <br/>
	<h1>New Truck</h1>
    <form action="#" th:action="@{/truck/add}" th:object="${truck}" method="post">
        <p>Truck name: <input type="text" th:field="*{truckname}" /></p>
        <p>Max cargo space: <input type="number" th:field="*{maxCargoSpace}" /></p>
        <p>Max load capacity: <input type="number" th:field= "*{maxLoadCapacity}" /></p>
       <select class="form-control" name="vehicleCondition" id="vehicleCondition">
					<option value="0">Choose vehicle condition</option>
					<option th:value= "0" th:text="active"/>
					<option th:value= "1" th:text="inactive"/>
    	</select>
        <p><input type="submit" value="Submit" class="button" /> <input type="reset" value="Reset" class="button"/></p>
    </form>
</body>
</html>
