<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1>new truck</h1>
	<div th:if="${message}">
    	<h2 th:text= "${message}"></h2>
    </div>
    <form action="#" th:action="@{/truck/add}" th:object="${truck}" method="post" class="form-horizontal">
    	<table class="table">
    		<tr>
    			<td>truck name: </td>
    			<td> 
    				<div class="col-sm-5">
    				<input  type = "text" th:field="*{truckname}" class="form-control" required = "required" placeholder="enter new truck name"/>
    				</div>
    			</td>
    			<td th:="${#fields.hasErrors('truckname')}" th:errors="*{truckname}" th:text="'truckname can't be empty.'"></td>
    		</tr>
    		<tr>
    			<td>max cargo space:</td>
    			<td>
    				<div class="col-sm-5">
    				<input  type = "number" th:field="*{maxCargoSpace}" class="form-control" required = "required" min="1"/>
    				</div>
    			</td>
    			<td th:if="${#fields.hasErrors('maxCargoSpace')}" th:errors="*{maxCargoSpace}" th:text="'max cargo space can't be negative.'"></td>
    		</tr>
    		<tr>
    			<td>max load capacity:</td>
    			<td>
    				<div class="col-sm-5">
    				<input  type = "number" th:field="*{maxLoadCapacity}" class="form-control" required = "required" min="1"/>
    				</div>
    			</td>
    			<td th:if="${#fields.hasErrors('maxLoadCapacity')}" th:errors="*{maxLoadCapacity}" th:text="'max load capacity can't be negative.'"></td>
    		</tr>
    		<tr>
    			<td>status:</td>
    			<td>
	 		 		<div class="col-sm-5">	 		
	 				<select class="form-control" th:field="*{status}">
        				<option th:each="var : ${statusArray}"
        					th:value="${var}" th:text="${var.getTitle()}"></option>
            		</select>
	 				</div>
	 
				 </td>
    		</tr>
       	</table>
    	
        <input type="submit" class="btn btn-primary" value="submit"/><br/><br/>
        <input type="reset" class="btn btn-primary" value="reset"/>
        <a href ="/truck/" class="btn btn-primary" role="button">go back to overview</a>
    </form>
    </div>    
</body>
</html>
