<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "${truck.truckname}"></h1>
    <form action="#" th:action="@{/truck/{id}/edit(id = ${truck.id})}" th:object="${truck}" th:method="post">
      	<p th:text="'Truck id: ' + *{id}" />
      	<p th:text="'Vehicle name: ' + *{truckname}" />
        <p>Vehicle name<input type="text" th:field="*{truckname}" /></p>
        <input type="submit" class="btn btn-primary" value="submit"/>
        <input type="reset" class="btn btn-primary" value="reset"/>
    </form>
    <br/>
    <form action="#" th:action="@{/truck/{id}/edit(id = ${truck.id})}" th:object="${truck}" th:method="delete">
       	<input type="submit" class="btn btn-primary" value="delete truck?" />
    </form>
    </div>
</body>
</html>
 