<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "${truck.truckname}"></h1>
    <form action="#" th:action="@{/truck/{id}/edit(id = ${truck.id})}" th:object="${truck}" th:method="post" class="form-horizontal">
     <div class="panel panel-default">
	 <div class="panel-body">
	 
<!-- 	 <div class="form-group"> -->
<!-- 	 	<label class="control-label col-sm-2" for="id">truck id:</label> -->
<!-- 	 	<div class="col-sm-5"> -->
<!-- 	 		<p th:text="*{id}"/> -->
<!-- 	 	</div> -->
<!-- 	 </div> -->
	 
<!-- 	 <div class="form-group"> -->
<!-- 	 	<label class="control-label col-sm-2" for="name">truck name:</label> -->
<!-- 	 	<div class="col-sm-5"> -->
<!-- 	 		<p th:text="*{truckname}"/> -->
<!-- 	 	</div> -->
<!-- 	 </div> -->
	 
<!-- 	 <div class="form-group"> -->
<!-- 	 	<label class="control-label col-sm-2" for="name">new truck name:</label> -->
<!-- 	 	<div class="col-sm-5"> -->
<!-- 	 		<input type="text" class="form-control" id="text" placeholder="enter new truck name"/> -->
<!-- 	 	</div> -->
<!-- 	 </div> -->
	 
<!-- 	 <div class="form-group"> -->
<!-- 	 	<label class="control-label col-sm-2" for="name">status:</label> -->
<!-- 	 	<div class="col-sm-5"> -->
<!-- 	 		<input type="hidden" class="form-control" name="status" id="status"/> -->
	 		
<!-- 	 		<select class="form-control" th:field="*{status}"> -->
<!--         		<option th:each="var : ${statusArray}" -->
<!--         				th:value="${var}" th:text="${var.getTitle()}"></option> -->
<!--             </select> -->
<!-- 	 	</div> -->
<!-- 	 </div> -->

	 
	 
      	<p th:text="'truck id: ' + *{id}" />
      	<p th:text="'vehicle name: ' + *{truckname}" />
        <p>new vehicle name<input type="text" th:field="*{truckname}" /></p>
                <p>status
        	<select th:field="*{status}">
        		<option th:each="var : ${statusArray}"
        				th:value="${var}" th:text="${var.getTitle()}"></option>
            </select></p>
      </div>
      </div>

        <input type="submit" class="btn btn-primary" value="submit"/><br/><br/>
        <input type="reset" class="btn btn-primary" value="reset"/>
        <a href ="/truck/" class="btn btn-primary" role="button">go back to overview</a>
        
    </form>
    <br/>
    <form action="#" th:action="@{/truck/{id}/edit(id = ${truck.id})}" th:object="${truck}" th:method="delete">
<!--        	<input type="submit" class="btn btn-danger" value="delete truck?" /> -->
    </form>
    </div>
</body>
</html>
 