<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "${truck.truckname}"></h1>
    <form action="#" th:action="@{/truck/{id}/edit(id = ${truck.id})}" th:object="${truck}" th:method="post">
      	<p th:text="'truck id: ' + *{id}" />
      	<p th:text="'vehicle name: ' + *{truckname}" />
        <p>new vehicle name<input type="text" th:field="*{truckname}" /></p>
                <p>status
        	<select th:field="*{status}">
        		<option th:each="var : ${statusArray}"
        				th:value="${var}" th:text="${var.getTitle()}"></option>
            </select></p>
		<br/>
        <input type="submit" class="btn btn-primary" value="submit"/>
        <input type="reset" class="btn btn-primary" value="reset"/>
    </form>
    <br/>
    <form action="#" th:action="@{/truck/{id}/edit(id = ${truck.id})}" th:object="${truck}" th:method="delete">
<!--        	<input type="submit" class="btn btn-danger" value="delete truck?" /> -->
    </form>
    </div>
</body>
</html>
 