<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>User Index</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="main.css" type="text/css" th:href="@{../../main.css}"/>
	</head>
	<body>
		<a href="/" class="button" >HOME</a> <br/> <br/>
		<div th:if="${not #lists.isEmpty(trucks)}">
		    <h1>All trucks</h1>
		    <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Vehicle name</th>
		    		<th>max cargo space</th>
		    		<th>max load capacity</th>
		    		<th>vehicle condition</th>
		    		<th></th>
		    	</tr>
		    	<tr th:each="truck : ${trucks}">
		    		<td th:text="${truck.getId()}"></td>
		    		<td th:text="${truck.getTruckname()}"></td>
		    		<td th:text="${truck.getMaxCargoSpace()}"></td>
		    		<td th:text="${truck.getMaxLoadCapacity()}"></td>
		    		<td th:text="${truck.getVehicleConditionAsString()}"></td>
		    		<td><a th:href="@{{id}(id = ${truck.id})}">Profile</a></td>
				</tr>
		    </table>
		</div>
		<a href="/truck/add" class="button">Create a new truck</a>
	</body>
</html>