<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">

	<div th:if="${#lists.isEmpty(trucks)}">
		<p> no trucks found </p>
	</div>
		<div th:if="${not #lists.isEmpty(trucks)}">
		    <h1>all trucks</h1>
		    <table class="table table-hover">
		    	<thead>
			    	<tr>
			    		<th>id</th>
			    		<th>vehicle name</th>
			    		<th>max cargo space</th>
			    		<th>max load capacity</th>
			    		<th>status</th>
			    		<th></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr th:each="truck : ${trucks}" th:classappend="${truck.status.getValue() == 1} ? warning">
			    		<td th:text="${truck.getId()}"></td>
			    		<td th:text="${truck.getTruckname()}"></td>
			    		<td th:text="${truck.getMaxCargoSpace()}"></td>
			    		<td th:text="${truck.getMaxLoadCapacity()}"></td>
			    		<td th:text="${truck.status.getTitle()}"></td>
			    		<td><a th:href="@{{id}(id = ${truck.id})}">profile</a></td>
					</tr>
				</tbody>
		    </table>
		</div>
		<a href ="/truck/add" class="btn btn-primary" role="button">create new truck</a>
		</div>
	</body>
</html>