<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1 th:text= "'truck: ' +${truck.truckname}"></h1>
	<form class="form-horizontal">
	<div class="panel panel-default">
	<div class="panel-body">
	
	<div class="form-group">
	 	<label class="col-sm-2" for="id">truck id:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${truck.id}"/>
	 	</div>
	 </div>
	 
	 <div class="form-group">
	 	<label class="col-sm-2" for="id">max cargo space:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${truck.maxCargoSpace} + ' stillages'"/>
	 	</div>
	 </div>
	 
	 <div class="form-group">
	 	<label class="col-sm-2" for="id">max load capacity:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${truck.maxLoadCapacity} + ' tons'"/>
	 	</div>
	 </div>
	 
	 <div class="form-group">
	 	<label class="col-sm-2" for="id">status:</label>
	 	<div class="col-sm-5">
	 		<p th:text="${truck.status}"/>
	 	</div>
	 </div>
	 
    </div>
    </div>
    <a th:href="@{/truck/{id}/edit(id = ${truck.id})}" class="btn btn-primary">edit this truck</a>
    <a href ="/truck/" class="btn btn-primary" role="button">go back to overview</a>
    </form>
    
    <h3>routes of this truck</h3>
    	<div class="panel panel-default">
		<div class="panel-body">
    	<div th:if="${not #lists.isEmpty(truck.getRoutes())}">
	    <table class="table table-hover">
	    	<thead>
	    		<tr>
		    		<th>id</th>
		    		<th>routing date</th>
		    		<th>number of deliveries</th>
		    		<th></th>
		    		<th></th>
		    		<th></th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<tr th:each="route : ${truck.getRoutes()}">
		    		<td th:text="${route.getId()}"></td>
		    		<td th:text="${route.getRouteStartDate()}"></td>
		    		<td th:text="${route.countDeliveries()}"></td>
		    		<td></td>
		    		<td></td>
		    		<td><a th:href="@{/route/{id}(id = ${route.id})}">route</a></td>
				</tr>
			</tbody>
	    </table>
	</div>
	</div>
	</div>
    </div>
</body>
</html>

