<div th:fragment="header">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">odm</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/orders/">All orders</a></li>
          <li><a href="/orders/add">Add new order</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Deliveries <span class="caret"></span></a>
      	<ul class="dropdown-menu">
          <li><a href="/route/">All deliveries</a></li>
          <li><a href="/schedule/">Plan new delivery</a></li>
        </ul>
      </li>
		<li><a href="/driverview/">Driver view</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration <span class="caret"></span></a>
	        	<ul class="dropdown-menu">
		          	<li><a href="/user/">User</a></li>
		          	<li><a href="/truck/">Trucks</a></li>
		          	<li><a href="/customer/">Customer</a></li>
				  	<li><a href="/address/">Addresses</a></li>
				  	<li><a href="/item/">Articles</a></li>
	        	</ul>
	      	</li>
<!--       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="/login/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
</div>
<div th:fragment="header-loggedOut">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">odm</a>
    </div>
        <ul class="nav navbar-nav navbar-right">
      		<li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    	</ul>
  </div>
</nav>
</div>