<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>New Customer</h1>
    <form action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Address Id: <input type="text" th:field="*{addressId}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
