<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Customer</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div th:if="${not #lists.isEmpty(customer)}">
		    <h1>All Customers</h1>
		    <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Name</th>
		    		<th>Address ID</th>
		    		<th></th>
		    	</tr>
		    	<tr th:each="cus : ${customer}">
		    		<td th:text="${cus.getId()}"></td>
		    		<td th:text="${cus.getName()}"></td>
		    		<td th:text="${cus.getAddressId()}"></td>
		    		<td><a th:href="@{{id}(id = ${cus.id})}">Profile</a></td>
				</tr>
		    </table>
		</div>
		<a href="/customer/add">Create a new Customer</a>
	</body>
</html>