<!DOCTYPE html>
 <html>
<head lang="en" th:replace="fragments/head :: head"> </head>
 <script type="text/javascript">
$(document).ready(function(){
$("#datatable").DataTable();
});
</script>
 	<body>
 	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
 	<div th:if="${not #lists.isEmpty(drivers)}">
 	<h1> here are all the drivers of the firm </h1>
 	
 	<h1>select your profile</h1>
 		    <table id="datatable" class="table table-hover">
 		    	<thead>
	 		    	<tr>
	 		    		<th>id</th>
	 		    		<th>username</th>
	 		    		<th>first name</th>
	 		    		<th>surname</th>
	 		    		<th></th>
	 		    	</tr>
 		    	</thead>
 		    	<tbody>
	 		    	<tr th:each="user : ${drivers}">
	 		    		<td th:text="${user.getId()}"></td>
	 		    		<td th:text="${user.getUsername()}"></td>
	 		    		<td th:text="${user.getFirstname()}"></td>
	 		    		<td th:text="${user.getSurname()}"></td>
	 		    		<td><a th:href="@{{id}(id = ${user.id})}"
	 		    		class="btn btn-success">Profile</a></td>
	 				</tr>
 				</tbody>
 		    </table>
 	</div>
 	
 
 	</div>
 	</body>
 </html> 