<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">

		<h1 th:text= "'hi ' +${driver.firstname.toLowerCase()}+ ' ' +${driver.surname.toLowerCase()}"></h1>
		<form class="form-horizontal">
		<div class="panel panel-default">
		<div class="panel-body">
		
		  <div class="form-group">
		 	<label class="col-sm-2" for="id">your id:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${driver.id}"/>
		 	</div>
		 </div>
		 
		 <div class="form-group">
		 	<label class="col-sm-2" for="id">your username:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${driver.username}"/>
		 	</div>
		 </div>
		 	
		<div class="form-group">
		 	<label class="col-sm-2" for="id">your role:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${driver.getRoles().toString()}"/>
		 	</div>
		 </div>
		 
		 <div class="form-group">
		 	<label class="col-sm-2" for="id">status:</label>
		 	<div class="col-sm-5">
		 		<p th:text="${driver.status}"/>
		 	</div>
		 </div>
	</div>
	</div>
	</form>
     
    <div th:if="${not #lists.isEmpty(openroutes)}">
 	<div class="panel panel-info">
 	<div class="panel-heading"><h1>open routes</h1></div>
	<div class="panel-body">
 		   <table class="table table-hover">
 		   <thead>
 		    	<tr>
 		    		<th>start date</th>
 		    		<th>end date</th>
 		    		<th>status</th>
 		    		<th>deposit (start point)</th>
 		    		<th>truck</th>
 		    		<th>deliveries</th>
 		    		<th>estimated time</th>
 		    		<th></th>
 		    		<th></th>
 		    	</tr>
 		    </thead>
 		    <tbody>
 	    	<tr th:each="route : ${openroutes}">
 		    		<td th:text="${route.getStartDateStr()}"></td>
 		    		<td th:text="${route.getEndDateStr()}"></td>
 		    		<td th:text="${route.getRouteStatus()}"></td>
 		    		<td th:text="${route.getDeposit().toString()}"></td>
<!--  		    		<td th:text="${route.getTruck().toString()}"></td> -->
 		    		<td><a th:href="@{/truck/{id}(id = ${route.getTruck().getId()})}" th:text="${route.getTruck()}"></a></td>
 		    		<td th:text="${route.countDeliveries()}"></td>
 		    		<td th:text="${route.getEstimatedTimeStr()}"></td>
 		    		<td><a th:href="@{/route/{id}(id = ${route.id})}">details</a></td>
 		    		<td>
 		    		<form action="#" th:action="@{/route/startRoute/{id}(id = ${route.getId()})}" th:object="${route}" method="post"> 
			    	<button type="submit" class="btn btn-success" th:if="${#strings.equals(route.routeStatus,'OPEN')}">start route</button>
					</form></td>
 				</tr>
 				</tbody>
 		    </table>
 	</div>
 	</div>
 	</div>
 		<div th:if="${#lists.isEmpty(openroutes)}">
 			<div class="panel panel-warning">
 				<div class="panel-heading"><h1>no open routes</h1></div>
 			</div>
    	</div>
    
    <div th:if="${not #lists.isEmpty(finishedroutes)}">
 	<div class="panel panel-success">
 	<div class="panel-heading"><h1>finished routes</h1></div>
	<div class="panel-body">
 		   <table class="table table-hover">
 		   <thead>
 		    	<tr>
 		    		<th>start date</th>
 		    		<th>end date</th>
 		    		<th>status</th>
 		    		<th>deposit (start point)</th>
 		    		<th>truck</th>
 		    		<th>deliveries</th>
 		    		<th>measured time</th>
 		    		<th></th>
 		    		<th></th>
 		    	</tr>
 		    </thead>
 		    <tbody>
 	    	<tr th:each="route : ${finishedroutes}">
 		    		<td th:text="${route.getStartDateStr()}"></td>
 		    		<td th:text="${route.getEndDateStr()}"></td>
 		    		<td th:text="${route.getRouteStatus()}"></td>
 		    		<td th:text="${route.getDeposit().toString()}"></td>
 		    		<td th:text="${route.getTruck().toString()}"></td>
 		    		<td th:text="${route.countDeliveries()}"></td>
 		    		<td th:text="${route.getMeasuredTime()} + ' min.'"></td>
 		    		<td><a th:href="@{/route/{id}(id = ${route.id})}">details</a></td>
 		    		<td></td>
 				</tr>
 				</tbody>
 		    </table>
 	</div>
 	</div>
 	</div>
    	
    
    </div>
 </body>
 </html> 