<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
	<h1 th:text= "'hi ' +${driver.username}"></h1>
	<div class="panel panel-default">
	<div class="panel-body">
	    <p th:text="'your id: ' + ${driver.id}" />
	    <p th:text="'your name: ' + ${driver.getRealname()}" />
	    <p th:text="'your role: ' + ${driver.getRoles().toString()}" />
	   	<p th:text="'your status: ' + ${driver.getStatus().getTitle()}" />
	</div>
	</div>
     
    <div th:if="${not #lists.isEmpty(routes)}">
 	<h1> Here are all your Routes</h1>
 		   <table class="table table-hover">
 		   <thead>
 		    	<tr>
 		    		<th>Date</th>
 		    		<th>Deposit (Start point)</th>
 		    		<th>Truck </th>
 		    		<th>Number of Deliveries</th>
 		    		<th></th>
 		    		<th></th>
 		    	</tr>
 		    </thead>
 		    <tbody>
 	    	<tr th:each="route : ${routes}">
 		    		<td th:text="${route.getRouteDate()}"></td>
 		    		<td th:text="${route.getDeposit().toString()}"></td>
 		    		<td th:text="${route.getTruck().toString()}"></td>
 		    		<td th:text="${route.countDeliveries()}"></td>
 		    		<td><a th:href="@{/route/{id}(id = ${route.id})}">Show Route</a></td>
 		    		<td><a th:href="@{/route/onmap/{id}(id = ${route.id})}">Start Route</a></td>
 				</tr>
 				</tbody>
 		    </table>
 	</div>
 	<div th:if="${#lists.isEmpty(routes)}">
 	<h1> no routes scheduled </h1></div>
    </div>
 </body>
 </html> 