<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Truck</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>New User</h1>
    <form action="#" th:action="@{/truck/add}" th:object="${trucks}" method="post">
        <p>Truck name: <input type="text" th:field="*{vehicleName}" /></p>
        <p>Max cargo space: <input type="number" th:field="*{maxCargoSpace}" /></p>
        <p>Max load capacity: <input type="number" th:field= "*{maxLoadCapacity}" /></p>
       <select class="form-control" name="vehicleCondition" id="vehicleCondition">
					<option value="0">Choose vehicle condition</option>
					<option th:text="0"/>
					<option th:text="1"/>
    	</select>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
