<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Truck Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>
</head>
<body>
	<a href="/hello" class="button" >HOME</a> <br/><br/>
	<h1 th:text= "'Truck: ' +${truck.vehicleName}"></h1>
    <p th:text="'Truck id: ' + ${truck.id}" />
    <p th:text="'Max space: ' + ${truck.maxCargoSpace} + ' stillages'" />
    <p th:text="'Max load: ' + ${truck.maxLoadCapacity} + ' tons'" />
    <a th:href="@{/truck/}" class="button">go back to the index</a>
    <a th:href="@{/truck/{id}/edit(id = ${truck.id})}" class="button">edit this truck</a>
</body>
</html>

