<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		<h1> add order to a route </h1>
			<form th:action = "@{/schedule/{id}(id = ${order.getId()})}" th:method = "post">
			<div class="panel panel-default">
			<div class="panel-body">
			    <h2>selected order</h2>
			    <table class="table table-hover">
			    	<thead>
			    		<tr>
				    		<th>id</th>
				    		<th>client</th>
				    		<th>delivery adress</th>
<!-- 				    		<th>Status</th> -->
				    		<th>ordered articles</th>
				    		<th>delivery date</th>
				    		<th>size</th>
				    		<th>weight</th>
				    		<th></th>
				    		<th></th>
				    		<th></th>
				    	</tr>
				    </thead>
				    <tbody>
				    	<tr>
				    		<td><a th:href="@{/orders/{id}(id = ${order.getId()})}" th:text="${order.getId()}"></a></td>
				    		<td th:text="${order.getCustomer()}"></td>
				    		<td th:text="${order.getAddress()}"></td>
<!-- 				    		<td th:text="${order.getStatus()}"></td> -->
				    		<td th:text="${order.getOpenOrderItems().size()}"></td>
				    		<td th:text="${order.getDeliveryDateStr()}"></td>
				    		<td th:text="${order.getOpenSize()}"></td>
				    		<td th:text="${order.getOpenWeight()}"></td>
						</tr>
					</tbody>
			    </table>
			    <div th:if="${#lists.isEmpty(routes)}">
			   		<div class="alert alert-info">
				 	 <strong>Info!</strong> No planned route has enough capacity left.
				 	 Plan a new route with an appropriate truck.
				 	</div>
			    
			    </div>
				<div th:if="${not #lists.isEmpty(routes)}">
			    <h2>choose an available route</h2>
				<table class="table table-hover">
					<thead>
				    	<tr>
				    		<th>id</th>
				    		<th>truck</th>
				    		<th>driver</th>
				    		<th>space capacity</th>
				    		<th>weight capacity</th>
				    		<th>deliveries</th>
				    		<th>start date</th>
				    		<th>end date </th>
				    		<th>additonal time</th>
				    		<th></th>
				    		<th></th>
				    	</tr>
				    </thead>
				    <tbody>
				    	<tr th:each="route : ${routes}">
				    		<td><a th:href="@{/route/{id}(id = ${route.getId()})}" th:text="${route.getId()}"></a></td>
				    		<td th:text="${route.getTruck()}"></td>
				    		<td th:text="${route.getDriver()}"></td>
				    		<td th:text="${route.calculateCapacitySize()}"></td>
				    		<td th:text="${route.calculateCapacityWeight()}"></td>
				    		<td th:text="${route.countDeliveries()}"></td>
				    		<td th:text="${route.getStartDateStr()}"></td>
				    		<td th:text="${route.getEndDateStr()}"></td>
				    		
				    		<td th:text="${route.getAdditionalTimeStr(order)}"></td>
				    		
				    		<td><input th:type="submit" th:name="routeId" class="btn btn-success" th:value="'Add order to route '+${route.getId()}"></input></td>
						</tr>
					</tbody>
			    </table>
			</div>
			</div>
			</div>
		</form>
		<form  th:action="@{/route/add/o/{id}(id = ${order.getId()})}" method="get">
			<div class="panel panel-default">
			<div class="panel-body">
			<h2>plan a new route</h2>
				<label for="routeDate"></label>
				<p> choose a date for a new route:
	           	<input type="date" th:name="date" placeholder="set route date"/></p>
	           	  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<input type="submit" class="btn btn-primary" value="create new route" />
			</div>
			</div>
			<a href ="/schedule/" class="btn btn-primary" role="button">go back to scheduling</a>
		</form>
		</div>
	</body>
</html>