<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		
		<form action="#" th:action="@{/schedule/addOrderstoRoute/{id}(id = ${route.getId()})}" method="post">
		
		<div class="panel panel-info">
		<div class="panel-heading"><h1>route summary</h1></div>
		<div class="panel-body">
			<table class="table table-hover">
			<h3>left space</h3>
			<thead>
					<tr>
						<th>space capacity</th>
				    	<th>weight capacity</th>
				    </tr>
				    </thead>
				    <tbody>
				    	<tr class="info">
				    	<td th:text="${route.calculateCapacitySize()}"></td>
				    	<td th:text="${route.calculateCapacityWeight()}"></td>
				    	</tr>
				    </tbody>
			
			</table>
								<div th:if="${not #lists.isEmpty(route.getAllDeliveries())}">
           	           			<table class="table table-hover">
           	           			<h3>deliveries</h3>
								    	<thead>
									    	<tr>
									    		<th>address</th>
									    		<th>number of items</th>
									    		<th>weight of delivery</th>
									    		<th>size of delivery</th>
									    		<th>order-items</th>
									    		<th></th>
									    	</tr>
									    </thead>
									    <tbody>
									    	<tr th:each="delivery : ${route.getAllDeliveries()}">
									    		<td th:text="${delivery.getAddress().toString()}"></td>
									    		<td th:text="${delivery.getNumberOfItems()}"></td>
									    		<td th:text="${delivery.getWeight()}"></td>
									    		<td th:text="${delivery.getSize()}"></td>
									    		<td>
										    		<ul th:each= "orderItem : ${delivery.getItems()}">
									    				<li>
											    		<span th:text = "${orderItem.toString()}"> </span>
											    		 <span>
											    		 <input th:type="submit" th:name="orderItem" class="close" th:value="'remove item ' + ${orderItem.id}">
											    		 </input></span>
											    		</li>
									    			</ul>
								    			</td>
									    		<td></td>
											</tr>
										</tbody>
										</table>
										</div>
						    </div>
		</div>

		
		<div th:if="${not #lists.isEmpty(orders)}">
		<div class="panel panel-success">
		<div class="panel-heading"><h1>add orders to this route</h1></div>
		<div class="panel-body">
           	           			<table class="table table-hover">
						    	<thead>
						    		<tr>
							    		<th>client</th>
							    		<th>delivery address</th>
							    		<th>ordered articles</th>
							    		<th>delivery date</th>
							    		<th>size</th>
							    		<th>weight</th>
							    		<th></th>
							    	</tr>
							    </thead>
							    <tbody>
							    	<tr th:each="order : ${orders}">
							    		<td><a th:href="@{/customer/{id}(id = ${order.getCustomer().getId()})}" th:text="${order.getCustomer()}"></a></td>
							    		<td th:text="${order.getAddress()}"></td>
							    		<td th:text="${order.getOpenOrderItems().size()}"></td>
							    		<td th:text="${order.getDeliveryDateStr()}"></td>
							    		<td th:text="${order.getOpenSize()}"></td>
							    		<td th:text="${order.getOpenWeight()}"></td>
							    		<td><input th:type="submit" th:name="orderID" class="btn btn-success" th:value="'add order number ' + ${order.id}"></input></td>
									</tr>
								</tbody>
						    </table>
			</div>
		</div>
		</div>
						    
				    <div th:if="${#lists.isEmpty(orders)}">
				    <div class="panel panel-warning">				    
						<div class="panel-heading"><h1>no available order for this route</h1></div>
					</div>
					</div>
		
		</form>
		
		<a th:href="@{/route/{id}(id = ${route.id})}" class="btn btn-primary" role="button">back to route</a>
		<a sec:authorize="hasAuthority('LOGISTICS')" href="/logistics/" class="btn btn-primary" role="button">cockpit</a>
		
		</div>
	</body>
</html>