<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<script>
function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}
function allowDrop(ev) {
    ev.preventDefault();
}
function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
	<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		<form>
		<h1> add orders to a route </h1>
 			
		  <div class="row">
		  <div class="col-sm-4">
		  
		  <div>
		  	<div class="panel panel-info" th:each="order : ${orders}"
		  	id="drag1" draggable="true" ondragstart="drag(event)">
		     <div class="panel-heading">
		      	<table class="orders">
		      	<thead>
		      	<tr>
		      		<th></th>
		      		<th></th>
		      		<th></th>
		      		<th></th>
		      	</tr>
		      	</thead>
		      	<tbody>
		      		<tr>
		      			<td th:text="${order.getCustomer()}"></td>
		      			<td th:text="${order.getDeliveryDate()}"></td>
		      			<td th:text="${order.getAddress()}"></td>
		      			<td th:text="${order.getOrderItems().size()}"></td>
		      		</tr>
		      	</tbody>
		      	</table>
		      </div>
    	    </div>
			</div>
		  </div>
		  
		  <div class="col-sm-8">
		  <label for="routeDate"></label>
			<p> choose the date for your route:
           	<input type="date" th:name="date" placeholder="set route date" /></p>
           	<input type="submit" class="btn btn-primary" value="check available routes for this date"/>
		  	<div class="panel panel-default">
			<div class="panel-body">
			  <h2>choose a route</h2>
			 	<ul class="nav nav-tabs nav-justified">
				  <li class="nav-item" th:each="route : ${routes}">
				  	  <a class="nav-link" data-toggle="tab" th:classappend="${route.getId() == 1} ? 'active'" 
				  	  th:href="@{'#' + ${route.getId()}}" th:text="${route.getId()}"></a>
				  </li>
				</ul>
				
				<div class="tab-content">
				  <div class="tab-pane fade"
				  		th:id="${route.getId()}" th:each="route : ${routes}">
				    <h3>route <a th:text="${route.getId()}"></a></h3>
				    
					<table class="table">
				      	<thead>
				      	<tr>
				      		<th>truck</th>
				      		<th>driver</th>
				      		<th>space capacity</th>
				      		<th>weight capacity</th>
				      		<th>start date</th>
				      		<th>estimated time</th>
				      	</tr>
				      	</thead>
				      	<tbody>
				      		<tr>
				      			<td th:text="${route.getTruck()}"></td>
				      			<td th:href="@{/driverview/{id}(id = ${route.getDriver().getId()})}" th:text="${route.getDriver()}"></td>
				      			<td th:text="${route.calculateCapacitySize()}"></td>
				      			<td th:text="${route.calculateCapacityWeight()}"></td>
				      			<td th:text="${route.getRouteStartDate()}"></td>
				      			<td th:text="${route.getEstimatedTimeStr()}"></td>
				      		</tr>
				      	</tbody>
				      	</table>
				  </div>
				  
				</div>
			
	 		 <div>
	 		 	<div class="panel panel-info">
	 			 <div class="panel-body" ondrop="drop(event)" ondragover="allowDrop(event)">
	 				  
	 				 drop orders here
	 				 
	 		  	 </div>
				</div>
	 		 </div>
			</div>
			</div>
		    	<input type="submit" class="btn btn-success" value="submit"></input>
        		<input type="reset" class="btn btn-primary" value="reset"/>
		  </div>
	
		</div>
		</form>
		</div>	

</body>
</html>

