<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		<h1> automatic route generation </h1>
		<div th:if="${#lists.isEmpty(dates)}">
		<p>there are currently no orders open for scheduling</p>
		<a href="/orders/add" class="btn btn-primary" role="button">create new order</a>
		</div>
		<div th:if="${not #lists.isEmpty(dates)}">
		
		
		<p>there are currently orders at the following days open for scheduling:</p>
		
		<table class="table table-hover">
		<thead>
		    	<tr>
		    		<th>Date</th>
		    	</tr>
		</thead>
		<tbody>
		    	<tr th:each="date : ${dates}">
		    		<td th:text="${date.toString()}"></td>
				</tr>
		</tbody>
   		 </table>
		
	
		
		<form action="#" th:action="@{/automaticroutegeneration/selectdate}" th:object="${routeProblem}" method="post">
		  <div>
		  <p> please enter the the day you want schedule:
           	<input type="date" th:name="date" placeholder="set route date"  th:field="*{deliveryDate}" /></p>       
           </div>
  
                  
             <button type="submit" class="btn btn-primary" name="submitDate">start</button>
        </form>                             
		</div>
		</div>
	</body>
</html>