<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<a href="/logistics/" class="btn btn-success" role="button">go back to cockpit</a>
		<div class="container">
		<h1 th:text= "'create new route on ' + ${routeTemplate.getStartDateStr()}"></h1>
	    
		<p  th:text="'On this page we propose only trucks with enough capacity to transport the order '+${order.getId()}" ></p>
		
		<h1 th:if="${#lists.isEmpty(trucks)}" th:text= "'There are no trucks where this order may in'"></h1>
	    
		
	    <form th:if="${not #lists.isEmpty(trucks)}" th:action="@{/route/add/o/{id}(id = ${order.getId()})}" th:object="${routeTemplate}" method="post">
	    	<input type="hidden" name="routeDate" th:value="${routeDate.toString()}"/>
		    <select class="form-control" name="*{truckId}" id="*{truck}" th:field = "*{truck}">
		    	<option th:each= "truck : ${trucks}"  th:value="${truck.getId()}" th:text="${truck.toString()}"></option>
			</select>
			<select class="form-control" name="driverId" id="driver">
		    	<option th:each= "driverId : ${drivers}" th:value="${driverId.getId()}" th:text="${driverId.toString()}"></option>
			</select>
			<input type="submit" class="btn btn-primary" value="submit"/>
        	<input type="reset" class="btn btn-primary" value="reset"/>
		</form>
		</div>
	</body>
</html>
