<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 	<head lang="en" th:replace="fragments/head :: head"> </head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<style>
        #map {
        float: left;
         height: 400px;
         width: 100%;
        }
     </style>
 <body>
 <div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">

<h2>you have no deliveries left, drive home safe</h2>
	
<div id="map"></div>
 
 	<script text="text/javascript" th:inline="javascript">
 	/*<![CDATA[*/
 	
 	// List of all addresses (String datatype)
 	var addresses = [[${addresses}]];
 	
 	// origin symbolizes the last address
 	var origin = [[${lastAddress.toString()}]];
 	
 	// Destination is the first address of the remaining open deliveries
 	var destination = [[${route.getDeposit().toString()}]];
 	
 	
 	// Sets up the map
 	function myMap() {
 		
 	var mapOptions = {
 	    zoom: 7,
 	    mapTypeId: google.maps.MapTypeId.HYBRID
 	}
 	
 	// Geocoder and DirectionsService and Renderer
 	var geocoder = new google.maps.Geocoder();
 	var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
 	
 	var map = new google.maps.Map(document.getElementById("map"), mapOptions);
 	
 	// Set the map as the map of the DirectionsDisplay Renderer
 	directionsDisplay.setMap(map);
 	
 	// calculates the drive home to the deposit address
 	calculateAndDisplayRoute(directionsService, directionsDisplay, origin, destination);
 	
 	
 	}
 	/*]]>*/
 	
 	// Calculates the route on the map
 	function calculateAndDisplayRoute(directionsService, directionsDisplay, origin, destination) {
        directionsService.route({
          origin: origin,
          destination: destination,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Can not calculate the direction between ' + origin + ' and ' + destination);
          }
        });
      }
   </script>
 <script 
 async = "async"
 defer = "defer"
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb-SCpWFMSIO0OeVAES-xWjRfLAIwzv7g&amp;callback=myMap"></script>

<table class="table table-hover">
		    	<thead>
			    	<tr>
			    		<th>deposit address</th>
			    		<th>estimated duration to drive home</th>
			    		<th></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr>
			    		<td th:text="${route.getDeposit().toString()}"></td>
			    		<td th:text="${duration}"></td>
			    		<td></td>
					</tr>
				</tbody>
</table> 
			  <form action="#" th:action="@{/route/stopRoute/{id}(id = ${route.getId()})}" th:object="${route}" method="post"> 
				    	<button type="submit" class="btn btn-success">finish route</button>
				</form>
		    <a th:href="@{/route/{id}(id = ${route.id})}" class="btn btn-primary">show route details</a>

</div>
 </body>
 </html>
