<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		
		<div th:if="${#lists.isEmpty(routes)}">
		<p> no routes found </p></div>
		
		<div th:if="${not #lists.isEmpty(routes)}">
		    <h1>planned routes</h1>
		    <table class="table table-hover">
		    	<thead>
			    	<tr>
			    		<th>id</th>
			    		<th>route start date</th>
			    		<th>route end date</th>
			    		<th>vehicle name</th>
			    		<th>driver name</th>
			    		<th>number of deliveries</th>
			    		<th>size</th>
			    		<th>weight</th>
			    	</tr>
		    	</thead>
		    	<tbody>
			    	<tr th:each="route : ${routes}">
			    		<td><a th:href="@{{id}(id = ${route.id})}" th:text="${route.id}"></a></td>
			    		<td th:text="${route.getStartDateStr()}"></td>
			    		<td th:text="${route.getEndDateStr()}"></td>
			    		<td th:text="${route.getTruck()}"></td>
			    		<td th:text="${route.getDriver()}"></td>
			    		<td th:text="${route.countDeliveries()}"></td>
			    		<td th:text="${route.calculateCapacitySize()}"></td>
				    	<td th:text="${route.calculateCapacityWeight()}"></td>
					</tr>
				</tbody>
		    </table>
		</div>
		
		<a href="/schedule/" class="btn btn-success" role="button">add orders to a route</a>
		<br/><br/>		
		<form action="#" th:action="@{/route/add}" method="get">
		 <div class="panel panel-default">
		 <div class="panel-body">
		 <h2>plan a new route</h2>
			<label for="routeDate"></label>
			<p> choose a date for a new route:
           	<input type="date" th:name="date" placeholder="set route date" /></p>
           	<input type="submit" class="btn btn-primary" value="create new route"/>
         </div>
         </div>
		</form>
		</div>
	</body>
</html>