<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>User Index</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div th:if="${not #lists.isEmpty(routes)}">
		    <h1>All routes</h1>
		    <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Route Date</th>
		    		<th>Vehicle name</th>
		    		<th>Driver name</th>
		    		<th>Number of Deliveries</th>
		    		<th></th>
		    	</tr>
		    	<tr th:each="route : ${routes}">
		    		<td th:text="${route.getId()}"></td>
		    		<td th:text="${route.getRouteDate()}"></td>
		    		<td th:text="${route.getTruckName()}"></td>
		    		<td th:text="${route.getDriverName()}"></td>
		    		<td th:text="${route.getDeliveryId()}"></td>
		    		<td><a th:href="@{{id}(id = ${route.id})}">Profile</a></td>
				</tr>
		    </table>
		</div>
		<form action="#" th:action="@{/route/add}" method="get">
			<label for="routeDate"></label>
           	<input type="date" th:name="date" /><br/> <br/>
			<input type="submit" value="Create new route" /><br/> <br/> 
		</form> 
	</body>
</html>