<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 	<head lang="en" th:replace="fragments/head :: head"> </head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<style>
        #map {
        float: left;
         height: 400px;
         width: 100%;
        }
     </style>
 <body>
 <div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	
 <div th:if="${#lists.isEmpty(deliveries)}">
		<h1> you completed the following route</h1></div>
 <div th:if="${not #lists.isEmpty(deliveries)}">
 
 <h1>the next delivery on the map</h1>
 <div id="map"></div>
 
 	<script text="text/javascript" th:inline="javascript">
 	/*<![CDATA[*/
 	
 	// List of all addresses (String datatype)
 	var addresses = [[${addresses}]];
 	// Deposit is the origin of the route
 	var deposit = [[${deposit.toString()}]];
 	// origin symbolizes the last address
 	var origin = [[${lastAddress.toString()}]];
 	
 	var center = [[${deliveries.get(0).getAddress().toString()}]];
 	
 	
 	// Sets up the map
 	function myMap() {
 		
 	var mapOptions = {
 	    zoom: 7,
 	    mapTypeId: google.maps.MapTypeId.HYBRID
 	}
 	
 	// Geocoder and DirectionsService and Renderer
 	var geocoder = new google.maps.Geocoder();
 	var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
 	
 	var map = new google.maps.Map(document.getElementById("map"), mapOptions);
 	
 	// Set the map as the map of the DirectionsDisplay Renderer
 	directionsDisplay.setMap(map);
 	
 	calculateAndDisplayRoute(directionsService, directionsDisplay, origin, center);
 
 	for(i = 1; i< addresses.length;i++)
 		{codeAddress(geocoder, map, addresses[i]);}
 	
 	
 	}
 	/*]]>*/
 	// Codes the DeliveryAddress
 	function codeAddress(geocoder, thismap, deliveryaddress) {
     var address2 = deliveryaddress;
     geocoder.geocode( { 'address': address2}, function(results, status) {
       if (status == 'OK') {
         addMarker(results[0].geometry.location, thismap, address2);
       } else {
         alert('Geocode was not successful for the following reason: ' + status + address2);
       }
     });
   }
 	
 	// Codes the DeliveryAddres at the next delivery
 	function codeCenter(geocoder, thismap, deliveryaddress) {
     var address2 = deliveryaddress;
     geocoder.geocode( { 'address': address2}, function(results, status) {
       if (status == 'OK') {
         setCenter(results[0].geometry.location, thismap, address2);
       } else {
         alert('Geocode was not successful for the following reason: ' + status + address2);
       }
     });
   }
 	// Adds a Marker to the map
 	function addMarker(position, displayedmap, address){
         var marker = new google.maps.Marker({
             map: displayedmap,
             position: position,
             title: address
         });
 	}
 	
 	// Sets the center of the map
 	function setCenter(position, displayedmap, address){
 		var marker = new google.maps.Marker({
            map: displayedmap,
            position: position,
            title: address
        });
 		displayedmap.panTo(marker.getPosition());
 	}
 	
 	// Calculates the route on the map
 	function calculateAndDisplayRoute(directionsService, directionsDisplay, origin, destination) {
        directionsService.route({
          origin: origin,
          destination: destination,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Can not calculate the direction between ' + origin + ' and ' + destination);
          }
        });
      }
   </script>
 <script 
 async = "async"
 defer = "defer"
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb-SCpWFMSIO0OeVAES-xWjRfLAIwzv7g&amp;callback=myMap"></script>
</div>

<div th:if="${#lists.isEmpty(deliveries)}">
		    	<table class="table table-hover">
		    	<thead>
			    	<tr>
			    		<th>address</th>
			    		<th>orderitems</th>
			    		<th>status</th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr th:each="delivery : ${alldeliveries}">
			    		<td th:text="${delivery.getAddress().toString()}"></td>
			    		<td>
			    			<ul th:each= "orderItem : ${delivery.getItems()}">
			    				<li th:text = "${orderItem.toString()}"></li>
			    			</ul>
			    		</td>
			    		<td>
			    			<ul th:each= "orderItem : ${delivery.getItems()}">
			    				<li th:text = "${orderItem.getOrderItemStatus()}"></li>
			    			</ul>
			    		</td>
					</tr>
				</tbody>
				</table>
</div>

<div th:if="${not #lists.isEmpty(deliveries)}">
			  <table class="table table-hover">
		    	<thead>
			    	<tr>
			    		<th>address</th>
			    		<th>orderitems</th>
			    		<th></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr>
			    		<td th:text="${deliveries.get(0).getAddress().toString()}"></td>
			    		<td>
			    			<ul th:each= "orderItem : ${deliveries.get(0).getItems()}">
			    				<li>
					    		<span th:text = "${orderItem.toString()}"> </span>
					    		<span> for customer </span> 
					    		 <span><a th:href="@{/customer/{id}(id = ${orderItem.getOrder().getCustomer().getId()})}"> <span th:text="${orderItem.getOrder().getCustomer().toString()}"></span>  </a> 
					    		</span>
					    		</li>
			    			</ul>
			    		</td>
			    		<td></td>
					</tr>
				</tbody>
				</table> 
		    
		    <table>
    		<tr>
    			
    			<td>
	    			<form action="#" th:action="@{/route/acceptDelivery/{id}(id = ${route.getCurrentAddress().getId()})}" th:object="${route}" method="post"> 
			    	<input type="hidden" name="routeid" th:value="${route.getId()}"/>
			    	<button type="submit" class="btn btn-success">accept delivery</button>
					</form>
                </td>
                <td>
                	<form action="#" th:action="@{/route/rejectDelivery/{id}(id = ${route.getCurrentAddress().getId()})}" th:object="${route}" method="post"> 
		    		<input type="hidden" name="routeid" th:value="${route.getId()}"/>
		    		<button type="submit" class="btn btn-danger">reject delivery</button>
					</form>
                </td>
    		</tr>
    		
    	</table>
    	<br/><br/>
		    <a th:href="@{/route/{id}(id = ${route.id})}" class="btn btn-primary">back to route details</a>

		    </div>
 </div>
 </body>
 </html>