<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		<h1 th:text="'start: ' +${route.getStartDateStr()}"></h1>
		<h1 th:text="'end: ' +${route.getEndDateStr()}"></h1>
		<h2 th:text= "'route no: ' +${route.getId()}"></h2>
		<form class="form-horizontal">
			<div class="panel panel-default">
			<div class="panel-body">

			<div class="form-group">
				<label class="col-sm-2" for="name">truck name:</label>
			 	<div class="col-sm-5">
			 		<p th:text="${route.getTruck()}"/>
			 	</div>
			 </div>
			 
			 <div class="form-group">
			 	<label class="col-sm-2" for="id">driver:</label>
			 	<div class="col-sm-5">
			 		<a th:href="@{/driverview/{id}(id = ${route.getDriver().getId()})}" th:text="${route.getDriver()}"></a>
			 	</div>
			 </div>
			 
			 <div class="form-group">
			 	<label class="col-sm-2" for="id">estimated time:</label>
			 	<div class="col-sm-5">
			 		<p th:text="${route.getEstimatedTimeStr()}"/>
			 	</div>
			 </div>

			 <ul>
			   <li th:text="'starting point: '+${route.getDeposit().toString()}"></li>
			 </ul>

				     <ul th:each= "delivery : ${route.getAllDeliveries()}">
				     
				     	<p th:text="${delivery.getDistanceFromPreviousDeliveryStr()}"></p>
				    	<li th:text="${delivery.getAddress().toString()}"></li>
					    	<ul th:each= "orderItem : ${delivery.getItems()}">

					    		<li>

					    		<span th:text = "${orderItem.toString()}"> </span>
					    		<span> for customer </span> 
					    		 <span><a th:href="@{/customer/{id}(id = ${orderItem.getOrder().getCustomer().getId()})}"> <span th:text="${orderItem.getOrder().getCustomer().toString()}"></span>  </a> 
					    		</span>
					    		</li>
					    
					    	</ul>
					    	
					    <p></p>	
				     	<p th:text="${delivery.getDistanceToNextDeliveryStr()}"></p>
				     	
				    </ul>
				    <ul>
			    	<li th:text="'end point: '+${route.getDeposit().toString()}"></li>
					    
			    	</ul>
			</div>
			</div>
	    <a href="/schedule/" class="btn btn-primary" role="button">go back to scheduling</a>
	    <a href="/route/" class="btn btn-primary" role="button">show all routes</a>
<!--    <a th:href="@{/route/{id}/edit(id = ${route.id})}" class="btn btn-primary">edit this route(Placeholder)</a> -->
		</form>
		<br/>
	    <a th:href="@{/route/completeRoute/{id}(id = ${route.id})}" class="btn btn-success">show route on map</a>

		</div>
	</body>
</html>

