<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>UserProfile</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1 th:text= "'Route Nr: ' +${route.getId()} + 'on the ' +${route.getRouteDate()}"></h1>
	    <p th:text="'Truck Name: ' + ${route.getTruck()}" />
	    <p th:text="'Driver: ' + ${route.getDriver()}" />
	    <p th:text="'DeliveryId: '+${route.getDeliveries()}" />
	    <a th:href="@{/route/}">Show all routes</a>
	    <a th:href="@{/driverview/{id}(id = ${route.getDriver()})}">Driver-Profile of this Route</a>
	    <a th:href="@{/route/{id}/edit(id = ${route.id})}">Edit this route(Placeholder)</a>
	</body>
</html>

