<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
		<div lang="en" th:replace="fragments/header :: header"> </div>
		<div class="container">
		<h1 th:text="'date: ' +${route.getDate()}"></h1>
		<h2 th:text= "'route no: ' +${route.getId()}"></h2>
			<div class="panel panel-default">
			<div class="panel-body">
			    <p th:text="'truck name: ' + ${route.getTruck()}" />
			    <p th:text="'driver: ' + ${route.getDriver()}" /> 
				     <ul th:each= "delivery : ${route.getAllDeliveries()}">
				    	<li th:text="${delivery.getAddress().toString()}"></li>
					    	<ul th:each= "orderItem : ${delivery.getItems()}">

					    		<li>

					    		<span th:text = "${orderItem.toString()}"> </span>
					    		<span> for Customer: </span> 
					    		 <span><a th:href="@{/customer/{id}(id = ${orderItem.getOrder().getCustomer().getId()})}"> <span th:text="${orderItem.getOrder().getCustomer().toString()}"></span>  </a> 
					    		</span>
					    		</li>
					    	</ul>
				    </ul>
			</div>
			</div>
	    <a href="/schedule/" class="btn btn-primary" role="button">go to scheduling</a>
	    <a href="/route/" class="btn btn-primary" role="button">show all routes</a>
	    <a th:href="@{/driverview/{id}(id = ${route.getDriver().getId()})}" class="btn btn-primary">driver-profile of this route</a>
<!--    <a th:href="@{/route/{id}/edit(id = ${route.id})}" class="btn btn-primary">edit this route(Placeholder)</a> -->
	    <a th:href="@{/route/onmap/{id}(id = ${route.id})}" class="btn btn-success">show route on map</a>
		</div>
	</body>
</html>

