<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Show all Items</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>

	</head>
	
	<body>
	<div th:if="${not #lists.isEmpty(items)}">
	<a href="/hello" class="button" >HOME</a> <br/><br/>
	<h1> here are all the items from the library </h1>
	
	<table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Name</th>
		    	</tr>
		    	<tr th:each="item : ${items}">
		    		<td th:text="${item.getId()}"></td>
		    		<td th:text="${item.getName()}"></td>
				</tr>
				
		    </table>
	</div><br/><br/>
	
	<a th:href="@{/item/add}" class="button">add a new item</a>

		
	</body>
</html>