<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	<h1>new customer</h1>
    <form action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
        <p>name: <input type="text" th:field="*{name}" /></p>
        <p>address <select th:field="*{address}">
                      <option th:each="var : ${allAddress}" th:value="${var.id}" th:text="${var.toString()}"></option>
                    </select> <a href ="/address/add" class="btn btn-primary" role="button">create new address</a> </p>
        
        
        <input type="submit" class="btn btn-primary" value="submit"/>
        <input type="reset" class="btn btn-primary" value="reset" />
    </form>
    </div>
</body>
</html>
