<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="main.css" type="text/css" th:href="@{../main.css}"/>
</head>
<body>
	<a href="/" class="button" >HOME</a> <br/> <br/>
	<h1>new customer</h1>
    <form action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Address <select th:field="*{address}">
                      <option th:each="var : ${allAddress}" th:value="${var.id}" th:text="${var.toString()}"></option>
                    </select></p>
        <p><input type="submit" value="submit" class="button" /> <input type="reset" value="reset" class="button"/></p>
    </form>
</body>
</html>
