<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
<body>
<script type="text/javascript">
$(document).ready(function(){
$("#datatable").DataTable();
});
</script>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	
	<div th:if="${#lists.isEmpty(customer)}">
	<p> no customer found </p>
	</div>
	
	<div th:if="${not #lists.isEmpty(customer)}">
			<h1>all customers</h1>
		    <table id="datatable" class="display table table-hover">
		    	<thead>
		    		<tr>
		    			<th><b>id</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th><b>name</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th><b>address</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th><b>status</b> <i class="fa fa-fw fa-sort"></i></th>
			    		<th></th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    	<tr th:each="cus : ${customer}" th:classappend="${cus.status.getValue() == 1} ? danger">
		    		<td th:text="${cus.getId()}"></td>
		    		<td th:text="${cus.getName()}"></td>
		    		<td th:text="${cus.getAddress()}"></td>
		    		<td th:text="${cus.status.getTitle()}"></td>
		    		<td><a th:href="@{{id}(id = ${cus.id})}">profile</a></td>
				</tr>
				</tbody>
		    </table>
		</div>
		<a href ="/customer/add" class="btn btn-primary" role="button">create new customer</a>
		</div>
	</body>
</html>