<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"> </head>
	<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div class="container">
	
	<div th:if="${#lists.isEmpty(customer)}">
	<p> no customer found </p>
	</div>
	
	<div th:if="${not #lists.isEmpty(customer)}">
			<h1>all customers</h1>
		    <table class="table table-hover">
		    	<thead>
		    		<tr>
			    		<th>id</th>
			    		<th>name</th>
			    		<th>address id</th>
			    		<th>status</th>
			    		<th></th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    	<tr th:each="cus : ${customer}" th:classappend="${cus.status.getValue() == 1} ? warning">
		    		<td th:text="${cus.getId()}"></td>
		    		<td th:text="${cus.getName()}"></td>
		    		<td th:text="${cus.getAddress()}"></td>
		    		<td th:text="${cus.status.getTitle()}"></td>
		    		<td><a th:href="@{{id}(id = ${cus.id})}">profile</a></td>
				</tr>
				</tbody>
		    </table>
		</div>
		<a href ="/customer/add" class="btn btn-primary" role="button">create new customer</a>
		</div>
	</body>
</html>