
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Order</title>
<link rel="stylesheet" href="../../../css/main-static.css"
	th:href="@{/css/main.css}" />
<link rel="stylesheet" href="design.css" type="text/css"
	th:href="@{../design.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
	border-collapse: collapse;
	width: 50%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}
</style>
</head>

<body>

	<div>
		<a href="/hello" class="button">HOME</a> <br /> <br />
			
		<h1>We did'nt update the customer database: make sure the name and the address are valid</h1>
		
		
	</div>
</body>
</html>