<!DOCTYPE html>
<html>
	<head>
		<title>Hello,World!</title>
	</head>
	
	<body>
		<h1>Hi!</h1>
		<p>Welcome to the save zone.</p>
		
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		<h2 th:text="'This might be a new start page'"/>
		<a th:href="@{/user/}">Checkout the users!</a>
		<a th:href="@{/item/}">Checkout the Item-Management!</a>
		<a th:href="@{/orderMain}">Orders</a>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"/>
        </form>
	</body>
</html>