<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="design.css" type="text/css" th:href="@{design.css}"/>
		
	</head>
	
	<body>
		<a href="/admin" class="button" >ADMIN</a> <br/> <br/>
		<h1>order &#38; delivery management</h1>
		
		<a th:href="@{/orders/}" class="button">orders</a>
		<a th:href="@{/route/}" class="button">tours</a>

		<a th:href="@{/driverview/}" class="button">driver view</a>
		<a th:href="@{/customer/addtest}" class="button">create some sample customers</a>
		<a th:href="@{/orders/addtest}" class="button">create some sample orders</a>
		<a th:href="@{/route/addtest}" class="button">create some sample routes</a>
		
		
		<form th:action="@{/logout}" method="post">
		<input type="submit" value="sign out"/>
        </form>
	</body>
</html>