<html>
	<head>
		<title>Login</title>
		<style>
		
		.centre {
		position:absolute;
		width:350px;
		left:50%;
		margin-left:-175px;
		margin-top:200px;
		}
		</style>
	
	</head>
	
	<body>
		<div class="centre">
		<div th:if="${param.error}">
			Invalid username and password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out. Shoo!
		</div>
		<form th:action="@{/login}" method="post">
			<div><label>User Name: <input type="text" name="username"/></label></div>
			<div><label>Password: <input type="password" name="password"/></label></div>
			<div><input type="submit" value="Sign In"/></div>
		</form>
		</div>
	</body>
</html>