<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>User Index</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="design.css" type="text/css" th:href="@{../design.css}"/>
	</head>
	<body>
		<a href="/hello" class="button" >HOME</a> <br/><br/>
		<div th:if="${not #lists.isEmpty(users)}">
		    <h1>all users</h1>
		    <table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Username</th>
		    		<th>Real Name</th>
		    		<th>Userrole</th>
		    		<th></th>
		    	</tr>
		    	<tr th:each="user : ${users}">
		    		<td th:text="${user.getId()}"></td>
		    		<td th:text="${user.getUsername()}"></td>
		    		<td th:text="${user.getRealName()}"></td>
		    		<td th:text="${user.getUserrole()}"></td>
		    		<td><a th:href="@{{id}(id = ${user.id})}">Profile</a></td>
				</tr>
		    </table>
		</div><br/><br/>
		<a href="/user/add" class="button">create a new user</a>
	</body>
</html>